<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sql01conn" connectionString="Server=SQL01;Database=BC18_InkPro;User Id=insightsvc;Password=gHt_8(jv43Rg.K0tgB7;" />
    <add name="web01conn" connectionString="Server=WEB01;Database=insight;User Id=insightsvc;Password=gHt_8(jv43Rg.K0tgB7;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>